# CMake out-of-source build dir
/build/
build/

# CMake files (if anyone ever built in-source)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled objects & deps
*.o
*.o.d
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out

# Misc
compile_commands.json

